<%- include header.ejs %>
<div class="container-fluid bg-1 text-center">
        <h3 class="margin">Trisha Barradas-Waters MA, OTR/L, SWC</h3>
        <img id= "circle"src="https://i.imgur.com/urmW0uO.jpg" class="img-responsive margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>Occupational Therapist</h3> 
      </div>
      
      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h3 class="margin">My Story</h3>
        <p>Welcome to my website! My name is Trisha and I’m an Occupational Therapist. I have been in practice since 2006, working primarily within the pediatric population, doing Early Intervention via Regional Centers and CCS Medical Therapy Program with individuals from 0-21 years old.  I was born and raised in San Francisco, CA until 9 years old, when my mother moved us to Los Angeles, specifically West Hollywood, where many of my adolescent and teenage experiences helped mold me into the person I am today. I was raised by an amazing single mother, who provided an environment of unconditional love, diversity, empathy, and compassion that I carried forward into my adulthood, not only as a proud mother to my son Miles, but also in my role as an occupational therapist, trusted friend, and strong woman warrior. Most important to me is the impact I have on my son and the future I help secure for him. It is through his eyes and experiences that drives me to do what I do, and fight for what I believe is precious and right. </p>
      </div>
      <div class="container-fluid bg-3 text-center">
            <h3 class="margin">Education</h3>
            <p> I discovered occupational therapy after graduating with a Bachelor of Science in Kinesiology in 2001, with a focus in Adapted Physical Education, from California State University Northridge, with plan was to enter the graduate program in Exercise Science. I already had been working in the fitness industry for over a decade, and had a passion for teaching, promoting health and wellness, and being of services to others. I was originally drawn to the specialty area of Adapted Physical Education, after participating in a Wheelchair Sports Camp where I volunteered for 3 summers, helping children with a variety of conditions such as cerebral palsy, brachial plexus injuries, metabolic conditions, and spina bifida. I had also worked with the Chime Institute Inclusion Program, as an adapted physical education consultant, and privately with children with special needs (i.e. autism, Fetal Alcohol Syndrome, etc.) on strengthening their motor development skills, in order to simply participate in every day “kid activities” such as riding bikes, accessing playground equipment (i.e. swings, slides, etc), or participating in individual and/or team sports. Ultimately, I chose not to pursue working as an APE specialist, but greatly respected, and continue to respect, this area of practice. After being accepted into the Master’s program at CSUN, I continued my private practice with clients, but also started working in Early Intervention with children 0-3 years old, through private agencies and CSUN’s Early Intervention Program. It was through this program I had the fortune of working closely with children with autism, or considered “at risk”, as well as developing a multi-disciplinary approach to practice. During this time, my love for working with the autism population grew, and I was introduced to Occupational Therapy and Sensory Integration. Having sensory integration issues myself, as a child, it became clearer to me, the significant impact it had in a child’s world, not only on their social-emotional, cognitive, and physical development, but also the impact it had on the perception of that child within their family and social dynamics. It was during this time, my spiritual and professional journey into the profession of Occupational Therapy blossomed.
 
                    In the summer of 2003, I started my graduate program at the University of Southern California, where I received my Masters of Art in Occupational Therapy and Occupational Science. This was also where Sensory Integration was originally developed by USC faculty Emeritus, Jean Ayers, Phd, OTR, who was both an occupational therapist and an educational psychologist. During my time in school, my interest and practice in sensory integration grew, but also expanded to working in rehabilitation with physical disabilities and mental health. Essentially, I was fortunate to learn from a faculty of professors, who were known experts, researchers, and authors of books in the field of occupational therapy, sensory integration/autism, and mental health, such as Diane Parham, Erna Blanche, Florence Clark, Julie Mclaughlin, Deborah Pitts. I received a work scholarship and had the opportunity to participate in, via transcribing, a longitudinal study headed by Mary Lawlor, currently Associate Chair of Research and Professor at USC, that examined the meanings of illness and disability in family life, the social nature of therapeutic experience and cultural influences on health care and developmental processes. I had 2 major fieldworks at a pediatric sensory integration based clinic, and adult in-patient rehabilitation working with a variety of orthopedic and neurological conditions. I graduated with honors (Phi Theta Epsilon) in the Summer of 2005.</p>
          </div>
      <!-- Third Container (Grid) -->
      <div class="container-fluid bg-3 text-center">    
        <h3 class="margin"> Other topics?</h3><br>
        <div class="row">
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
        </div>
      </div>
      